/* ------------------------------------------------------------------------from the template  */
.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.circle-custom{
    content: "";
    display: inline-block;
    height: 8px; /* Equal to width for a perfect circle */
    width: 8px; /* Equal to height for a perfect circle */
    border-radius: 50%; /* Makes the shape a circle */
    position: relative;
    left:5px;
    top:8px;
}

.bground-dark-blue{
    background: #7dd3ef;
}

.bground-selected{
    background:rgba(211, 207, 207, 0.65)
}