.login-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 25%;
    min-width: 20%;
    /* max-width: 200px; */
}

.login-form input{
    height: 3vw;
    margin-bottom: 5px;
}
.login-form button{
    background: green;
    color: white;
    height: 3vw;
}