
footer{
  width:100%;
  height:10%;
  background: #000000;
  color: white;
  display:flex;
  position: fixed;
  bottom: 0;
}
footer p {
  align-self:center;
  width:100%;
  text-align:center;
}

header{
  height:4rem;
  width:100%;
  background: black;
  color: white;
  /* position: sticky; */
  top: 0;
  left:0px;
  right:0px;
}
header nav{
  display:flex;
  justify-content: space-between;
}
header nav h2{
  margin-top:auto;
  margin-bottom:auto;
}
header nav ul {
  list-style-type: none;
  display:flex;
  column-gap:10px;
}

.container{
  max-width: 960px;
  margin-left:auto;
  margin-right: auto;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}