#root{
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  height: 100vh;
}

.header-link-styles{
  text-decoration: none;
  color:white;
}
.header-link-styles:hover{
  color:lightgray;
}

.text-decoration-none {
  text-decoration: none;
}

.content{
  min-height: calc(100vh - 30vh); /*to adjust for both header and footer, we can also use js to calculate right height*/
}
footer {
  height: 12vh; 
}
